* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bg-color {
	background: linear-gradient(to right, #d5c6d3, #0b1f23);
	color: white;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.btn-container {
	display: flex;
	align-items: center;
}

.btn-container button {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
}

.cus-activity {
	width: 100%;
	justify-content: space-between;
}

.activity-info {
	display: flex;
	align-items: center;
}

.activity-info .user {
	padding-right: 10rpx;
	color: #aaaaaa;
}

.activity-action {
	display: flex;
	flex: 3;
	justify-content: flex-end;
	padding-right: 28rpx;
}

.cu-item image {
	width: 100%;
	height: 300rpx;
}

.cu-item video {
	width: calc(100vw - 60rpx);
	margin: 20rpx 30rpx 0;
	overflow: hidden;
	border-radius: 10rpx;
}

.padding-right-sm {
	padding-right: 10rpx;
}

.header {
	width: 100vw;
	height: 30vh;
	background-image: url('https://kdapp.oss-cn-shanghai.aliyuncs.com/WechatIMG176.jpeg');
	background-size: cover;
	transform: translateY(-2vh);
}

.cu-card {
	transform: translateY(-2vh);
}

/* card */
.card-container {
	width: 100vw;
	height: 55vw;
	display: flex;
	flex-direction: column;
	color: white;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.06);

}

.card-container:not(:first-child) {
	/* margin-top: 20rpx; */
}

.card-container .card-info {
	width: 100%;
	height: 65%;
	background: linear-gradient(to right, #4584a0, #4b91b5);
	/* background-color: #4584a0; */
}

.card-container .card-desc {
	width: 100%;
	height: 35%;
	background-color: #FFFFFF;
	color: rgba(0,0,0,0.65);
	padding: 20rpx;
}

.author-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20rpx;
	margin-top: 20rpx;
}

.card-desc > view {
	padding: 5rpx 0;
}

.text-dark-blue {
	color: #15262b;
}

.margin-bottom-xs {
	margin-bottom: 8rpx;
}

.cu-item .desc {
	padding: 10rpx 30rpx;
}

.cu-item .desc > text {
	display: -webkit-box;
	font-size:28rpx;
	/* color:#000000; */
	line-height: 40rpx;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:3;
	overflow: hidden;
	text-overflow:ellipsis;
}

.reg-infos {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	width: calc(100vw - 40rpx);
	padding: 20rpx;
	margin-bottom: 20rpx;
	transform: translateY(-10vh);
	margin-left: 20rpx;
	filter: drop-shadow(0 0 2rpx #789479);
}

.reg-infos .author-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.reg-infos .work-info {
	display: flex;
	flex-direction: column;
}

.reg-infos .teacher-info {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.reg-infos .work-info .items {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.reg-infos text {
	margin: 8rpx 0;
}

.audio-container {
	position: relative;
}

.audio-container .backdrop {
	position: absolute;
	background: rgba(42,42,42,0.5);
	z-index: 60;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.audio-container .play-btn {
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
	display: flex;
	justify-content: center;
	background: #FFFFFF;
	position: absolute;
	left: calc(50% - 40rpx);
	top: calc(50% - 40rpx);
	z-index: 70;
}

.audio-container .play-btn text {
	font-size: 1.5em;
	padding-top: 18rpx;
	padding-left: 8rpx;
}

.cus-activity {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin: 20rpx 0;
}

/* button {
	width: 250rpx;
	height: 70rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2rpx solid #faefa2;
	background: linear-gradient(to bottom, #00ccee, #01aae6);
	color: white;
	letter-spacing: 4rpx;
	border-radius: 50rpx;
	font-size: 1em;
} */

.cu-card {
	margin-top: 20rpx;
}

.cu-card:first-child {
	margin-top: 0;
}